page-detail-barang {
    .titleBarang{
        position: inherit;
        padding: inherit;
        text-align: center;
        font-weight: 500;
        font-size: x-large;
        color: darkgoldenrod;
    }

    .deskripsi{
        position: inherit;
        padding: inherit;
        text-align: justify;
        font-weight: 500;
        font-size: medium;
        color: bisque;
    }
}
