page-delivery-detail-order {
    .titleBarang{
        position: inherit;
        padding: inherit;
        text-align: center;
        font-weight: 500;
        font-size: x-large;
        color: darkgoldenrod;
    }
}
