<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mobile Market's</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-thumbnail style="margin-top: 2px">
    <ion-slides autoplay="3000" loop="true" speed="700">
      <ion-slide>
        <img src="assets/img/1.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets/img/2.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets/img/3.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets/img/4.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets/img/5.jpg">
      </ion-slide>
    </ion-slides>
  </ion-thumbnail>

  <div class="segment">
    <p class="p" [hidden]="custDiv">{{'Categories' | translate}}</p>
    <p class="p" [hidden]="sellerDiv">{{'Welcome Seller' | translate}}</p>
    <p class="p" [hidden]="adminDiv">{{'Welcome Admin' | translate}}</p>
  </div>
  <!--KATEGORI 1-->
  <div [hidden]="sellerDiv">
    <p text-center>{{'Start your selling from' | translate}} <br><br>{{'press icon' | translate }} {{'from bottom' | translate}}</p>
  </div>
  <div [hidden]="adminDiv">
    <p text-center>{{'You are the Administrator' | translate}}</p>
  </div>
  <ion-row [hidden]="custDiv">
    <ion-col col-4>
      <ion-card style="margin-top: -2px; margin-left: 1px; width: 100%; height: 80% !important;" (click)="buah()">
        <img src="assets/img_ori/buah_def.jpg" />
      </ion-card>
    </ion-col>

    <ion-col col-4>
      <ion-card style="margin-top: -2px; margin-left: 1.5px; width: 100%; height: 80% !important;" (click)="bumbu()">
        <img src="assets/img_ori/bumbu_def.jpg" />
      </ion-card>
    </ion-col>

    <ion-col col-4>
      <ion-card style="margin-top: -2px; margin-left: 1px; width: 100%; height: 80% !important;" (click)="daging()">
        <img src="assets/img_ori/daging_def.jpg" />
      </ion-card>
    </ion-col>
  </ion-row>

  <!--KATEGORI 2-->
  <ion-row [hidden]="custDiv">
    <ion-col col-4>
      <ion-card style="margin-top: -30px; margin-left: 1px; width: 100%; height: 100% !important;" (click)="ikan()">
        <img src="assets/img_ori/ikan_def.jpg" />
      </ion-card>
    </ion-col>

    <ion-col col-4>
      <ion-card style="margin-top: -30px; margin-left: 1.5px; width: 100%; height: 100% !important;" (click)="sayur()">
        <img src="assets/img_ori/sayur_def.jpg" />
      </ion-card>
    </ion-col>

    <ion-col col-4>
      <ion-card style="margin-top: -30px; margin-left: 1px; width: 100%; height: 100% !important;" (click)="unggas()">
        <img src="assets/img_ori/unggas_def.jpg" />
      </ion-card>
    </ion-col>
  </ion-row>
  <!--KATEGORI-->

  <div class="segment_hot" [hidden]="custDiv">
    <p class="p-hot" [hidden]="custDiv">{{'Hot Product' | translate}}</p>
  </div>
  <ion-row [hidden]="custDiv">
    <ion-col col-6 *ngFor="let post of sayuran">
          <ion-card (click)="detail(post)">
             <img src="{{ loopBack + post.photo}}" /> 
            <ion-card-content>
              <ion-card-title>
                {{post.namaBarang}}
              </ion-card-title>
              <p>
                {{post.harga}}
              </p>
            </ion-card-content>
          </ion-card>
    </ion-col>
  </ion-row>

  <div *ngIf="sayuranLength == 0">
    <p text-center>{{'Data Empty' | translate}}</p>
  </div> 


  <ion-fab right bottom [hidden]="sellerDiv">
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="posting()"><ion-icon name="ios-create-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>