<!--
  Generated template for the ApprovedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>{{'Approved Order' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      {{'Approved Order' | translate}}
    </ion-list-header>

    <ion-item-sliding *ngFor="let approve of approved">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ loopBack + approve.photoBarang}}">
        </ion-avatar>
        <h4>{{'Name of Customer' | translate}}: {{approve.namaLengkap}} </h4>
        <p>{{'Name of Goods' | translate}} : {{approve.namaBarang}}</p>
        <p>{{'Total of Weight Goods' | translate}} : {{approve.jumlahBarang}} ( Kg / Ons / Ikat / Biji )</p>
        <p>{{'Total Ammount' | translate}} : {{approve.totalHarga}}</p>
        <p>{{'Address' | translate}} : {{approve.alamat}}</p>
        <p>{{'Method Payment' | translate}} : {{approve.payment}}</p>
        <p>{{'Total Payment' | translate}} : {{approve.paymentTot}}</p>
        <p style="color: deepskyblue">Status : {{approve.status}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="detail(approve)">
        <ion-icon name="ios-eye-outline"></ion-icon>
        {{'Detail' | translate}}
      </button>
      </ion-item-options>
       <ion-item-options side="right">
        <button ion-button color="primary" (click)="validate(approve)">
        <ion-icon name="ios-eye-outline"></ion-icon>
        {{'Validate Approve' | translate}}
      </button>
      </ion-item-options>
    </ion-item-sliding>

    <div *ngIf="lengthApp == 0">
      <p text-center>{{'Data Empty' | translate}}</p>
    </div>

  </ion-list>
</ion-content>
