ion-menu.sidemenu {
    ion-content {
        background-color:  #009688;
    }
    #bg{
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 40%;
    }
    .foto-div{
            width: 8em;
            height: 8em;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            background-position-y: 0;
            margin-top: 2em;
            border: 3px solid #FFF; 
        }
    .icon{
        color: white;
    }
    .menu-title{
        color: white;
    }
    .header-title{
        color: white;
        background-color: #009688;
    }
    .list-menu{
        background-color: #009688;
    }
    .title-menu{
        color: white;
        text-align: center;
    }
    .header{
        background-image: "assets/images/amas.jpeg";
    }
    .amas {
        background-image: url(../assets/images/amas.png);
    }
}
